.card ul {
    display: flex;
    background-color: beige;
    list-style: none;
    padding: 10px;
}

.card ul li {
    padding: 10px;
    color: black;
    border: 1px solid black;
    margin: 10px;
}